<div class="doc-part-box" id="rand">
  <h2>rand</h2>
  <h4>$.nextInt(intMin, intMax)</h4>
  <p>生成一个非负随机整数</p>
  <p><b class="txt-sky-4">intMin</b><span class="mg-l-20">number ,起始值(>0整数,含)</span></p>
  <p><b class="txt-sky-4">intMax</b><span class="mg-l-20">number ,intMax:结束值(大于起始值整数,不含)</span></p>
  <p><b class="txt-sky-4">返回</b><span class="mg-l-20">number ,返回整数,范围在 [intMin ~ intMax)</span></p>
  <pre>
let randNum = $.nextInt(0,100);
// 返回0,100间的数,不含100
</pre>
</div>